

.button{
  border-radius: 10px;
  /* margin: 6px; */
  padding: 10px 13px;
  margin: auto;
}
.maindiv{
width: 80%;
padding: 10px 13px;
margin: auto;
height: fit-content;
/* height:10vw; */
display: block;

}